* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  width: 100%;
  height: 100vh;
  background: #fff;

}
.slider {
  padding: 3rem;
  max-width: 90rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  border: 2rem solid lightgreen;
  border-radius: 5rem;
  padding-bottom: 10rem;
   background: rgb(57, 54, 54);
}
.slider__images-wrapper{
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 3rem;
}
.slider__images {
  display: flex;
  flex-direction: row;
  width: 400%;
  height: 100%;
  transition: 0.5s ease;
}
.slider__img {
  width: 25%;
  height: auto;
  padding: 0;
}
.slider__img img {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
}
.slider__text {
  display: flex;
  align-items: center;
  width: 70%;
}
.slider__text-container {
  align-items: center;
  overflow: hidden;
  vertical-align: middle;
}
.slider__text-wrapper {
  display: flex;
  width: 400%;
  height: auto;
}
.text__item {
  display: block;
  color: white;
  font-size: 2.5rem;
  width: 250%;
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
}
.slider__ctrl {
  width: 30%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.ctrl__item {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctrl__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background: lightskyblue;
  border-radius: 50%;
}
.ctrl__circle-checked {
  height: 1.5rem;
  width: 1.5rem;
  background: black;
  border-radius: 50%;
  opacity: 0;
}
.ctrl__item-input {
  display: none;
}
.ctrl__circle:hover {
  background: white;
}
.container:has([id="r1"]:checked)  .ctrl__item[for='r1'] > .ctrl__circle > .ctrl__circle-checked {
    opacity: 1;
} 
.container:has([id="r1"]:checked)  .ctrl__item[for='r1'] > .ctrl__circle {
    background: lightgreen;
    height: 2.5rem;
    width: 2.5rem;
    filter: blur(0.1rem);
} 
.container:has([id="r2"]:checked)  .ctrl__item[for='r2'] > .ctrl__circle > .ctrl__circle-checked {
    opacity: 1;
} 
.container:has([id="r2"]:checked)  .ctrl__item[for='r2'] > .ctrl__circle {
    background: lightgreen;
    height: 2.5rem;
    width: 2.5rem;
    filter: blur(0.1rem);
} 
.container:has([id="r3"]:checked)  .ctrl__item[for='r3'] > .ctrl__circle > .ctrl__circle-checked {
    opacity: 1;
} 
.container:has([id="r3"]:checked)  .ctrl__item[for='r3'] > .ctrl__circle {
    background: lightgreen;
    height: 2.5rem;
    width: 2.5rem;
    filter: blur(0.1rem);
} 
.container:has([id="r4"]:checked)  .ctrl__item[for='r4'] > .ctrl__circle > .ctrl__circle-checked {
    opacity: 1;
} 
.container:has([id="r4"]:checked)  .ctrl__item[for='r4'] > .ctrl__circle {
    background: lightgreen;
    height: 2.5rem;
    width: 2.5rem;
    filter: blur(0.1rem);
} 
.container:has([id="r1"]:checked) .slider__images{
  transform: translateX(0);
}
.container:has([id="r1"]:checked) .slider__text-wrapper{
  transform: translateX(0);
}
.container:has([id="r2"]:checked) .slider__images{
  transform: translateX(-25%);
}
.container:has([id="r2"]:checked) .slider__text-wrapper{
  transform: translateX(-25%);
}
.container:has([id="r3"]:checked) .slider__images{
  transform: translateX(-50%);
}
.container:has([id="r3"]:checked) .slider__text-wrapper{
  transform: translateX(-50%);
}
.container:has([id="r4"]:checked) .slider__images{
  transform: translateX(-75%);
}
.container:has([id="r4"]:checked) .slider__text-wrapper{
  transform: translateX(-75%);
}

